.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #035080;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 40px;
}
.App-logo {
  background-color: transparent;
  height: 50px;
  margin-right: 20px;
  
}
.App-title {
  font-size: 24px;
}

.App-content {
  padding: 20px;
  flex-grow: 1;
}

.App-footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}

.App-footer-text {
  font-weight: bold;
}

.Home-title,
.Detail-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.Home-button,
.Detail-button {
  margin-top: 10px;
}

.App-divider {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.Detail-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.Detail-table th,
.Detail-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.Detail-table th {
  background-color: #f0f0f0;
}

.Detail-table td {
  background-color: #fff;
}

.forecast-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.App-logo-wschod{
  background-color: transparent;
  height: 50px;
}
